
<client-detail *ngIf="selectedClient" [client]="selectedClient"></client-detail>

<div class="card border-primary mb-4 d-inline-block w-100">
    <div class="card-header">Clients</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Client list</h5>
      <div class="my-2 text-left">
        <a class="btn btn-primary" [routerLink]="'/clients/form'">New client</a>
      </div>
      <div *ngIf="clients?.length==0" class="alert alert-info">
        There are no clients
      </div>

    <table class="table table-bordered table-striped" *ngIf="clients?.length>0">
      <tbody class="table-striped">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Created at</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let client of clients">
          <td><img (click)="openModal(client)" *ngIf="client?.photo" src="http://localhost:8080/api/uploads/img/{{client.photo}}" alt="{{client.photo}}" class="img-thumbnail rounded" style="width: 64px; cursor:pointer;">
          <img (click)="openModal(client)" *ngIf="!client?.photo" src="http://localhost:8080/images/no_user.png" alt="no photo" class="img-thumbnail rounded" style="width: 64px; cursor:pointer;">
        </td>
          <td>{{client.name}}</td>
          <td>{{client.lastName | uppercase}}</td> <!--uppercase pipe-->
          <td>{{client.email}}</td>
          <td>{{client.createdAt | date: "EEE dd, MMMM yyyy"}}</td> <!--Need to configure in the app the LOCALE_ID and register it in providers in app.module.ts-->
          <td>
            <a class="btn btn-primary" name="edit" [routerLink]="'/clients/form/' + client.id">Edit</a>
          </td>
          <td>
            <a class="btn btn-danger" name="delete" (click)="delete(client)">Delete</a>
          </td>
        </tr>
      </tbody>
      </table>
      <paginator-nav *ngIf="paginatorFather" [paginatorChild] = "paginatorFather" ></paginator-nav>
    </div>
  </div>
