<div class="card border-primary mb-4 d-inline-block w-100">
    <div class="card-header">Clients</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Client list</h5>
      <div class="my-2 text-left">
        <a class="btn btn-primary" [routerLink]="'/clients/form'">New client</a>
      </div>
      <div *ngIf="clients?.length==0" class="alert alert-info">
        There are no clients
      </div>

    <table class="table table-bordered table-striped" *ngIf="clients?.length>0">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Created at</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let client of clients">
          <td>{{client.id}}</td>
          <td>{{client.name}}</td>
          <td>{{client.lastName}}</td>
          <td>{{client.email}}</td>
          <td>{{client.createdAt}}</td>
          <td>
            <a class="btn btn-primary" name="edit" [routerLink]="'/clients/form/' + client.id">Edit</a>
          </td>
          <td>
            <a class="btn btn-danger" name="delete" (click)="delete(client)">Delete</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
